* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;    
}
.page-container{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: auto;
    justify-content: center;
    background:#FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16;
    font-weight: 500;
    font-style: normal;
    color: #000000; 
}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    justify-content: center;
    background-color: rgb(81, 78, 78);
    color: #FFF;
    align-items: center;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
nav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
}
a {
    text-decoration: none;
    color: #FFF;
}
.contacts {
    display: flex;
    flex-direction: column;
    margin-right: 320px;
    gap: 15px;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: row;
    width: 1360px;
    justify-content: center;
    gap: 90px;
    background-color: rgb(249, 215, 244);
}
.main-information, .add-information  {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 90px;
    justify-content: center;
    align-self: flex-start;
    gap: 60px;
}
h2 {
    margin-bottom: 20px;
}
.text {
   line-height: 30px;
}
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: center;
    background-color: rgb(81, 78, 78);
    color: #FFF;
}
.footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
}
.logo {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}